# Basics Of Python

Basic print and comment statements

In [3]:
print("Hello", end ="\t")
print("Hello")
print("Hello" + "World")
#single line comment

Hello	Hello
HelloWorld

For python, no need to mention the data type and you can enclose strings in '' as well as ""

In [6]:
x=4
y=4.5
z="tatti"
z1='tatti'
print ("x=",x,sep='')
print ('y=',y) #putting just a comma by default puts a space in between
print('z=',z,sep='&') #if you want something else to be printed between the items, then you need to use the sep command after one more comma
print('z1 =',z1)

x=4
y= 4.5
z=&tatti
z1 = tatti

Basic Mathematical Calculations

In [8]:
p=3/4
print("p =",p)
p1=3//4 # // gives what in java is int x=3/4 (here, it is called floor division)
print("p1 =",p1)
q=2**8 #in python, ** gives what in java is Math.pow()
print('q =',q)
e=4%2 # mod is same as in java i.e., %
print("e =",e)

p = 0.75
p1 = 0
q = 256
e = 0

Type casting is also same as in java, just instead of (int)x , write int(x)

In [9]:
t=5.6
t=int(5.6)
print('t=',t)

t= 5

Maximum and Minimum

In [10]:
o=max(4,5)
print("o=",o)
o=min(4,5)
print("o=",o)

o= 5
o= 4

## Taking Input

In [11]:
print("Enter a number :")
x=input()
print("You entered :",x)
x=float(input("Enter a Number : "))
print("You entered :",x)

Enter a number :
50
You entered : 50
Enter a Number : 25
You entered : 25.0

## Working with Strings

In [12]:
#there is a built-in function len() in Python to calculate length of strings  
str="input"
print("Length =",len(str))
print("Substring 1 =", str[2: ])
print("Substring 2 =", str[2:4])
print("Substring 3 =", str[ :3])
print("Substring 4 =", str[-4: ])
#for the str.contains("") in java,we have the <"" in str> in python
str=input("Enter a String :  ")
print("Contains:","put" in str)

Length = 5
Substring 1 = put
Substring 2 = pu
Substring 3 = inp
Substring 4 = nput
Enter a String :  inputouput
Contains: True

Removing the leading and trailing spaces

In [6]:
fn=" tatti "
print(fn.strip())

tatti

Making the first letter capital

In [3]:
print(fn.strip().title())

Tatti

Converting to Upper or Lower Case

In [9]:
print(fn.upper())
print(fn.lower())

 TATTI
 tatti

Reversing a String

In [10]:
x = "The quick brown fox jumps over the lazy dog"
print(reversed(x))
print("".join(reversed(x))) #this uses concatenation
print(x[::-1]) # this uses element indexing in lists. the last number tells python to run that many steps in each iteration

<reversed object at 0x000001A5542481C0>
god yzal eht revo spmuj xof nworb kciuq ehT
god yzal eht revo spmuj xof nworb kciuq ehT

In [28]:
# example
x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(x[::])
print(x[:])
print(x[0:20])
print(x)
print(x[1:20])
print(x[::-1])
print(x[0:20:2])
print(x[0:20:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 7, 10, 13, 16, 19]

Concatenation

In [9]:
x = ['P', 'r', 'i', 'y', 'a', 'n', 's', 'h', 'u']
print(''.join(x)) # concatenates all the characters without any space
print('^'.join(x)) # concatenates all the characters with $ in between every character

Priyanshu
P^r^i^y^a^n^s^h^u

Splitting a String

In [3]:
x = "The quick, brown fox, jumps over, the lazy, dog"
print(x.split())
print(list(x))
print(x.split(','))

['The', 'quick,', 'brown', 'fox,', 'jumps', 'over,', 'the', 'lazy,', 'dog']
['T', 'h', 'e', ' ', 'q', 'u', 'i', 'c', 'k', ',', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ',', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ',', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'z', 'y', ',', ' ', 'd', 'o', 'g']
['The quick', ' brown fox', ' jumps over', ' the lazy', ' dog']

## Working with Arrays/Lists

In [14]:
#arrays are called lists in python
list=[] #this creates an empty list x=[]
list.append("house")
list.append("mouse")
list.append("blouse")
print(list)
print("Length:", len(list))
print("Index 1:", list[1])
print("Index 2:",list[2])
print("Index 2&3:", list[1:3])
list.insert(1,"grouse")
print(list)
#for deleting items from the list, there is an inbuilt function called del()
del(list[1])
print(list)
del(list[1:3])
print(list)
list=[]
list.append("house")
list.append("mouse")
list.append("blouse")
list2=[]
list2.append("house")
list2.append("mouse")
list2.append("blouse")

list.extend(list2)
print(list)
list3=list+list2
print(list3)
list4=[]
list4.append(list)
list4.append(list2)
print(list4)
print(list4[0][5]) #to print fifth element of 0th element of list4
list4[0]=4 # changing the 0th element of list4 to the number '4'
print(list4)

['house', 'mouse', 'blouse']
Length: 3
Index 1: mouse
Index 2: blouse
Index 2&3: ['mouse', 'blouse']
['house', 'grouse', 'mouse', 'blouse']
['house', 'mouse', 'blouse']
['house']
['house', 'mouse', 'blouse', 'house', 'mouse', 'blouse']
['house', 'mouse', 'blouse', 'house', 'mouse', 'blouse', 'house', 'mouse', 'blouse']
[['house', 'mouse', 'blouse', 'house', 'mouse', 'blouse'], ['house', 'mouse', 'blouse']]
blouse
[4, ['house', 'mouse', 'blouse']]

## Sorting using built-in functions

In [12]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [10]:
a = [5,10,15,20,25,30,35,40,45,50]
a.sort() #ascending order
print(a)
a.sort(reverse=True) #descending order
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

Sorting according to our own wish by changing the key values

In [13]:
names = ['Raju', 'Shyam', 'Palash', 'Deenbandhu', 'Mohan', 'Shreshth']
names.sort(key=len)
print(names)

['Raju', 'Shyam', 'Mohan', 'Palash', 'Shreshth', 'Deenbandhu']

In [15]:
names = ['Raju', 'Shyam', 'Palash', 'Deenbandhu', 'Mohan', 'Shreshth']
def SortByFirstLetter(element):
    return element[0]
names.sort(key=SortByFirstLetter)
print(names)

['Deenbandhu', 'Mohan', 'Palash', 'Raju', 'Shyam', 'Shreshth']

Working with numerical lists

In [4]:
x = [1,2,3,4,5,6,7,8,9,10]
print(max(x), min(x), sep=',')

10,1

## How to Replace Values in a List in Python?

1. Using List Indexing

In [15]:
# Replace Values in a List using indexing
  
# define list
l = [ 'Hardik','Rohit', 'Rahul', 'Virat', 'Pant']
  
# replace first value
l[0] = 'Shardul'
  
# print list
print(l)

['Shardul', 'Rohit', 'Rahul', 'Virat', 'Pant']

2. Using For-Loop

In [16]:
# Replace Values in a List using For Loop

# define list
l = ['Hardik', 'Rohit', 'Rahul', 'Virat', 'Pant']

for i in range(len(l)):

	# replace hardik with shardul
	if l[i] == 'Hardik':
		l[i] = 'Shardul'

	# replace pant with ishan
	if l[i] == 'Pant':
		l[i] = 'Ishan'

# print list
print(l)

['Shardul', 'Rohit', 'Rahul', 'Virat', 'Ishan']

3. Using While-Loop

In [17]:
# Replace Values in a List using While Loop

# define list
l = ['Hardik', 'Rohit', 'Rahul', 'Virat', 'Pant']

i = 0
while i < len(l):

	# replace hardik with shardul
	if l[i] == 'Hardik':
		l[i] = 'Shardul'

	# replace pant with ishan
	if l[i] == 'Pant':
		l[i] = 'Ishan'

	i += 1

# print list
print(l)

['Shardul', 'Rohit', 'Rahul', 'Virat', 'Ishan']

4. Using List Slicing (idk how this works)

Syntax: l=l[:index]+[‘new_value’]+l[index+1:]

In [18]:
# Replace Values in a List using Slicing

# define list
l = ['Hardik', 'Rohit', 'Rahul', 'Virat', 'Pant']

# find the index of Rahul
i = l.index('Rahul')

# replace Rahul with Shikhar
l = l[:i]+['Shikhar']+l[i+1:]

# print list
print(l)

['Hardik', 'Rohit', 'Shikhar', 'Virat', 'Pant']

## filter()

In [1]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
  
# result contains even numbers of the list
print(list(filter(lambda x: x % 2 == 0, seq)))

[1, 3, 5, 13]
[0, 2, 8]

## Tuples

Strings in both java and python are considered immutable. Lists in python are mutable, but immutable arrays/lists in python are called tuples.

In [22]:
x = 2, 3, 4, 5 
#x[0]=3 : this statement leads to an error
print (x) 
#on printing tuples are enclosed in (), instead of [] as in case of conventional arrays
x="house","mouse","goose"
print(x)
y=x,5,"tea"
print(y[:])

(2, 3, 4, 5)
('house', 'mouse', 'goose')
(('house', 'mouse', 'goose'), 5, 'tea')

In [23]:
#to create a tuple with only one element, enter the element followed by a comma
x="potty",
print(x)

('potty',)

In [24]:
x=5,4,3,2,1  
print(len(x))
print(7 in x)

5
False

== and "is" (which in Java was .equals()) work in the opposite way as in Java. In python, == checks if the values are same whereas "is" checks if the object/instance is same

In [29]:
x=4
y=5
print(x==y)
x=input("Enter test value/string: ")
y="house"
print(x==y)
print(x is y)
print(x is x)
print(y is y)

False
Enter test value/string: house
True
False
True
True

## Logical Operators

In [48]:
print(4<5)
print(not(4<5)) # in python we use not() instead of !()
print(4<5 and 6<7)
print(4<5 and 6>7)
print(4<5 or 6<7)
print(4<5 or 6>7)

True
False
True
False
True
True

## Conditional Statements

In [35]:
#in python, indentation is used instead of brackets as in Java
''' if(4<5):
    print('1')
    this will yield an error'''

if(4>5):
    print('1')
elif(4>3):
    print('3') #in python, we use elif: instead of "else if" as in Java
else:
    print('2')

3

# Working with Loops
## While-Loop

In [36]:
x=0
#while loop
while(x<5):
    print(x)
    x+=1 #in python, you can't use prefix and postfix operators ++ and --. You have to use the +=

0
1
2
3
4

## For-Loop

In [40]:
for x in range(2,10):
    print(x,end=",")
print()

2,3,4,5,6,7,8,9,

Variations

In [41]:
for x in range(2,10,3): # first number is the starting value, second is the limit and third is the number of steps to take in each iteration (updation)
    print(x)

2
5
8

In [44]:
for x in range(5):
    if x==6:
        break
else:
    print("else entered test 1") #this is a unique feature of python that this else statement will execute only if the for loop executes completely and ends naturally. it will not work/execute if the loop breaks prematurely
    
for x in range(5):
    if x==3:
        break
else:
    print("else entered test 2")

else entered test 1

## Functions

In [45]:
def sum(a,b,c): #defining a function
    return a+b+c 

mystery = sum #python has this unique feature called mystery variable

print(mystery(1,2,3))
print(sum(1,2,3))
#both yield same results

6
6

Python provides you a feature using which you can set an optional parameter with a default value. If you provide a value for this parameter when calling the function, it will use that value, but if you don't, it will use the default value.

In [47]:
def sum(a,b,c=10): 
    return a+b+c 
print(sum(3,4))
print(sum(3,4,5))

17
12

## Anonymous/Lambda Functions

Syntax - lambda arguments:manipulate (arguments)

This is used only for creating functions with single line code execution

In [1]:
#Suppose I want to execute the following code snippet using lambda function :-
# def add(a,b):
#    return (a+b)
# x=1
# y=2
# print(add(x,y))

add = lambda x,y:x+y
print(add(1,2))

3

In [4]:
check_validity = lambda x,y:x>y
x=input("Enter a number : ")
y=input("Enter a number : ")
print(check_validity(x,y))

Enter a number : 5
Enter a number : 6
False

In [5]:
first_letter = lambda s:s[0]
str = input("Enter a String : ")
str.strip()
str.upper() #this converts the whole string to upper case
print(first_letter(str))

Enter a String : Priyanshu mahato
P

Sorting lists using lambda functions

In [16]:
# names = ['Raju', 'Shyam', 'Palash', 'Deenbandhu', 'Mohan', 'Shreshth']
# def SortByFirstLetter(element):
#     return element[0]
# names.sort(key=SortByFirstLetter)
# print(names)
# I will now attempt to execute this code snippet in one line using lambda function
list1 = ['Raju', 'Shyam', 'Palash', 'Deenbandhu', 'Mohan', 'Shreshth']
list1.sort(key=lambda x:x[0])
print(list1)

['Deenbandhu', 'Mohan', 'Palash', 'Raju', 'Shyam', 'Shreshth']

In [18]:
list2 = [(2,3,43,5),(6,24,6,34),(2,7,4,9,132),(3,5,3,2,5,67),(3,2,4,6,7,4)]
list2.sort(key=lambda y:y[1]) # sorting based on the 2nd element of each tuple
print(list2)

[(3, 2, 4, 6, 7, 4), (2, 3, 43, 5), (3, 5, 3, 2, 5, 67), (2, 7, 4, 9, 132), (6, 24, 6, 34)]